.register-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    float: center;
    background-color: orange;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
.register-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: flex;
    margin-bottom: 30px;
    color: green;
    font-size: xx-large;
    font-weight: bold;
}

  .register-content {
    display: grid;
    justify-content: center;
    align-items: center;
    float: center;
    position: absolute;
    top: 120px;
    width: 100%;
  }
  
  .register-block {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: green;
    border-width: 2px;
    border-radius: 15px;
    background-color: white;
    color: green;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    width: 200px;
    height: 50px;
    font-size: medium;
    font-weight: bold;
  }

  .register-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    float: center;
    padding-top: 15px;
  }
  
  .register-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    float: center;
    border: none;
    border-radius: 50px;
    background-color: green;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    height: 50px;
    font-size: medium;
    font-weight: bold;
  }
  