.validate-wrapper {
    justify-content: center;
    align-items: center ;
    text-align: center;
    background-color: orange;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    padding: 80px 0;
}

.validate-card {
    height: 40%;
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 20px 20px;
    display: grid;
    border-radius: 20px;
    color: white;
    justify-content: center;
    align-items: center;
}

.validate-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;
    color: white;
}

.redeem_btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    float: center;
    border: none;
    border-radius: 50px;
    background-color: green;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    height: 50px;
    font-size: medium;
    font-weight: bold;
}

.button_wrapper {
    margin-top: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}

  input[type=password] {
    background-color: orange;
    width: 280px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 5px solid #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 40px;
    text-align: center;
  }