.add_user_wrapper{
    padding-top: 100px;
    padding-left: 300px;
    width: 100%;
}
.add_user_body{
    display: grid;
    height: 85vh;
}
.add_user_type{
    display: flex;
    justify-content: center;
    margin-top: 72px;
    font-size: 16px;
    color: #666666;
}
.add_user_content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.add_user_form_block{
    margin-bottom: 50px;
}
.add_user_form_block #password {
    margin: 0;
    width: 300px;
    height: 32px;
    border: none;
    font-size: 16px;
    text-align: left;
    border-radius: 0;
    padding-left: 0;
    padding-bottom: 10px;
    background-color: #F3E9D0;
}
.add_add_user_button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    float: center;
    border: none;
    border-radius: 6px;
    background-color: #57A773;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 240px;
    height: 36px;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

@media (max-width:690px){
    .add_user_wrapper{
        padding-left: 0px;
    }
    .add_user_body{
        display: grid;
        height: auto;
    }
    .add_user_content{
        margin-top: 70px;
        align-items: unset;
    }
    .add_user_button{
        margin-bottom: 0px;
    }
    form{
        display: flex;
        justify-content: center;
    }
    .add_user_form{
        display: grid;
        justify-content: center;
    }
    .add_user_bottom{
        position: fixed;
        bottom: 88px;
    }
}