.add_ug_wrapper{
    padding-top: 100px;
    padding-left: 300px;
}
.add_ug_body{
    display: grid;
}
.add_ug_content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}
.ug_form_block{
    margin-bottom: 48px;
}
.add_ug_bottom{
    margin-top: 152px;
}
.add_ug_button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    float: center;
    border: none;
    border-radius: 6px;
    background-color: #57A773;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 240px;
    height: 36px;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:690px){
    .add_ug_wrapper{
        padding-left: 0px;
    }
    .add_ug_content{
        height: 500px;
        margin-top: 150px;
        align-items: unset;
    }
    .add_ug_button{
        margin-bottom: 0px;
    }
    form{
        display: flex;
        justify-content: center;
    }
    .add_ug_bottom{
        position: fixed;
        bottom: 88px;
    }
}