.container{
    display: flex;
}
main {
    width: 100%;
}
.sidebar {
    background: #748E98;
    color: white;
    height: 100vh;
    min-height: 900px;
    width: 300px;
    min-width: 300px;
    position: fixed;
    z-index: 4;
}
.top_section {
    display: flex;
    align-items: center;
    margin: 30px 30px 24px 30px;
}
.logo{
    font-size: 24px;
    font-weight: bold;
}
.link{
    display: flex;
    color: white;
    padding: 24px 50px;
    gap: 15px;
    transition: all 0.5s;
    text-decoration: none;
}
/* .link:hover{
    background-color: lightsteelblue;
    color: white;
    transition: all 0.5s;
    text-decoration: none;
}
.active{
    background: #5c757f;
} */
.link_text{
    font-size: 16px;
}