.cg_wrapper{
    display: grid;
    padding-top: 100px;
    padding-left: 300px;
}
.cardwrap{
    display: grid;
    justify-content: center;
}
.code_number{
    text-align: right;
}

.coupon_notification{
    text-align: center;
    display: grid;
    align-content: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
.coupon_notification p{
    padding: 20px;
    font-size: 32px;
    font-weight: 700;
    color: #666666;
}
@media (max-width:690px){
    .cg_wrapper{
        padding-left: 0px;
    }
}