.login_wrapper {
    display: grid;
    justify-content: center;
    align-items: start ;
    float: center;
    height: 100%;
    width: 100%;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.login_banner img{
    margin: auto;
    display: block;
    height: auto;
    width: 100%;
}
.header {
    background-color: #B87D4B;
    padding-left: 10px;
    display: grid;
    height: auto;
    grid-template-columns: 3rem 40fr;
}

.header>div {
    margin: 4px;
    display: flex;
    align-items: center;
    height: 60px;
}
.back_button {
    justify-content: center;
}
.login_title{
    grid-column: 2/5;
    font-size: 24px;
    justify-content: center;
    padding-right: 50px;
}

@media (max-width:400px){
    .login_title {
        justify-content: left;
    }
}

.login_content{
    background-color: #F3E9D0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_form {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    width: auto;
    height: 500px;
}
.login_form_block {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 20px;
    width: 300px;
    font-size: 16px;
    font-weight: bold;
}
.login_form_block input{
    margin-top: 30px;
    height: 50px;
    width: 300px;
    border: none;
    background-color: #F3E9D0;
    font-size: 16px;
    text-align: left;
    border-radius: 0;
    padding-left: 0;
}

.login_bottom {
    margin-top: 100px;
    background-color: #F3E9D0;
    margin-bottom: 20px;
}

.login_button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    float: center;
    border: none;
    border-radius: 6px;
    background-color: #57A773;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 240px;
    height: 36px;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

